@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

:root {
  font: 15px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: skyblue;
}
header {
  font-family: 'Delius Swash Caps', cursive;
  margin: 2rem;
  text-align: center;
  font-size: 3rem;
  background-color: lightblue;
  text-shadow: black;
  border: lightgray solid 0.2rem;
}
.buttons button {
  font-family: 'Shadows Into Light', cursive;
  background-color: darkgray;
  margin: 0.28rem;
  box-shadow: black 1rem solid;
  color: white;
  font-size: 1rem;
}
.buttons button:hover {
}
.letters {
  text-align: center;
  display: flex;

  justify-content: space-between;
  font-size: 2rem;
}
main img .images {
  display: flex;
  border: lightseagreen solid 5rem;
}
section ul {
  list-style: none;
}
footer {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  background-color: lightblue;
  border: lightgray solid 0.2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-family: 'Delius Swash Caps', cursive;
}
html,
body {
  margin: 0;
}
.wrapper {
  width: 100vw;

  background: radial-gradient(
    farthest-corner at 30vw 20vh,
    #7397a1 1%,
    #3f2c41 100%
  );
}
$s1: '';
$s2: '';
$s3: '';
@for $i from 1 through 300 {
  $s1: $s1 +
    random(1000) *
    0.1vw +
    ' ' +
    random(1000) *
    0.1vh +
    ' ' +
    0 +
    ' ' +
    random(50) *
    -0.01rem +
    #fff;
  $s2: $s2 +
    random(1000) *
    0.1vw +
    ' ' +
    random(1000) *
    0.1vh +
    ' ' +
    0 +
    ' ' +
    random(50) *
    -0.01rem +
    #fff;
  $s3: $s3 +
    random(1000) *
    0.1vw +
    ' ' +
    random(1000) *
    0.1vh +
    ' ' +
    0 +
    ' ' +
    random(50) *
    -0.01rem +
    #fff;
  @if $i < 300 {
    $s1: $s1 + ',';
    $s2: $s2 + ',';
    $s3: $s3 + ',';
  }
}
.snow {
  border-radius: 50%;
  opacity: 0.3;
  position: absolute;
  top: -100vh;
  animation-name: fall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.layer1 {
  width: 1.5rem;
  height: 1.5rem;
  filter: blur(1.5px);
  box-shadow: #{$s1};
  animation-duration: 6s;
}
.layer1.a {
  animation-delay: -3s;
}
.layer2 {
  width: 1.2rem;
  height: 1.2rem;
  filter: blur(3px);
  box-shadow: #{$s2};
  animation-duration: 8s;
}
.layer2.a {
  animation-delay: -4s;
}
.layer3 {
  width: 0.8rem;
  height: 0.8rem;
  filter: blur(6px);
  box-shadow: #{$s3};
  animation-duration: 10s;
}
.layer3.a {
  animation-delay: -5s;
}
@keyframes fall {
  100% {
    transform: translateY(200vh);
  }
}
